# Ignore Play! working directory #
bin/
/db
.eclipse
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

*.class
*.log

prefs.csv
RUNNING_PID

!/logs/application.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
